# Feature engineering: TF-IDF, Location matching

- Source: [Repository PJFNN](https://github.com/doslim/Job-Recommendation-PJFNN) 
- Input: Pre-processed data in step 3 
    - user_set_cleaned.csv (label encoded)
    - work_history_cleaned.csv
    - dataset_cleaned.csv (with 3 binary columns for matching city, state, country)
    
- Summary:
    - TF-IDF on jobs data (Corpus: job title + description + requirement)
    - TF-IDF on work_history data (Corpus: job titles linked to one user) => work_history_cleaned.csv
    - Construct matric vector (combining user profile + TFIDF user history + jobs TFIDF + binary matching columns) 
    
- Output:
    - X_train_159.npy
    - Y_train_159.npy
    - X_test.npy

In [1]:
import caffeine
caffeine.on(display=False)

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from tqdm import tqdm

In [3]:
# Load pre-processed data
path = "./data_processed/"
user_set = pd.read_csv(path +"users_clean.csv")
job_set = pd.read_csv(path + "jobset_clean.csv")
work_history = pd.read_csv(path + "work_history.csv") 
dataset = pd.read_csv(path + "dataset.csv") #negative sampling application data

/var/folders/rt/sq9c2fwj2wz441h13l9hcfrc0000gn/T/ipykernel_2612/3598351642.py:4: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  job_set = pd.read_csv(path + "jobset_clean.csv")

In [4]:
user_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258260 entries, 0 to 258259
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   UserID                258260 non-null  int64
 1   WindowID              258260 non-null  int64
 2   Split                 258260 non-null  object
 3   City                  258260 non-null  object
 4   State                 257917 non-null  object
 5   Country               258260 non-null  object
 6   ZipCode               257094 non-null  object
 7   DegreeType            258260 non-null  object
 8   Major                 258260 non-null  object
 9   GraduationDate        203034 non-null  object
 10  WorkHistoryCount      258260 non-null  int64
 11  TotalYearsExperience  258260 non-null  float64
 12  CurrentlyEmployed     258260 non-null  object
 13  ManagedOthers         258260 non-null  object
 14  ManagedHowMany        258260 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 29.6+ MB

In [5]:
job_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050509 entries, 0 to 1050508
Data columns (total 11 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   JobID         1050509 non-null  int64
 1   WindowID      1050509 non-null  int64
 2   Title         1050509 non-null  object
 3   Description   1050289 non-null  object
 4   Requirements  1047776 non-null  object
 5   City          1050507 non-null  object
 6   State         1050508 non-null  object
 7   Country       1050506 non-null  object
 8   Zip5          658844 non-null   object
 9   StartDate     1050509 non-null  object
 10  EndDate       1050500 non-null  object
dtypes: int64(2), object(9)
memory usage: 88.2+ MB

In [6]:
work_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1144557 entries, 0 to 1144556
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   UserID    1144557 non-null  int64
 1   WindowID  1144557 non-null  int64
 2   Split     1144557 non-null  object
 3   Sequence  1144557 non-null  int64
 4   JobTitle  1144557 non-null  object
dtypes: int64(3), object(2)
memory usage: 43.7+ MB

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2081340 entries, 0 to 2081339
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   UserID  int64
 1   JobID   int64
 2   label   int64
dtypes: int64(3)
memory usage: 47.6 MB

## 1. TF-IDF on job details
- Job detail corpus: job_set["word"]: combine job Title, Description, and Requirement

In [4]:
# Create corpus by joining job Title, Description, and Requirement
job_set = job_set.fillna(" ")
job_set["word"] = job_set.Title + job_set.Description + job_set.Requirements

In [5]:
job_set.word.head()

0    Security Engineer Technical LeadSecurity Clear...
1    SAP Business Analyst   WMNO Corp. to Corp resu...
2    P T HUMAN RESOURCES ASSISTANT     P T HUMAN RE...
3    Route Delivery DriversCITY BEVERAGES Come to w...
4    HousekeepingI make  sure every part of their d...
Name: word, dtype: object

In [6]:
import time
start = time.time()
    
# TF-IDF on the combination of Title & Description & Requirements
tf = TfidfVectorizer(analyzer='word',
                     ngram_range=(1, 2),
                     min_df=5, 
                     max_features=100, 
                     stop_words='english')
tfidf_matrix = tf.fit_transform(job_set['word'])

end = time.time()
print('Computing time: ', end - start)

Computing time:  574.4752089977264

In [7]:
# Export this matrix
from scipy import sparse

sparse.save_npz("./data_interim_tfidf/tfidf_matrix.npz", tfidf_matrix)

In [8]:
tfidf_matrix

<1050509x100 sparse matrix of type '<class 'numpy.float64'>'
	with 31754477 stored elements in Compressed Sparse Row format>

In [9]:
# Check loaded matrix
your_matrix_back = sparse.load_npz("./data_interim_tfidf/tfidf_matrix.npz")

In [10]:
your_matrix_back

<1050509x100 sparse matrix of type '<class 'numpy.float64'>'
	with 31754477 stored elements in Compressed Sparse Row format>

## 2. Clean user data and TF-IDF on user history
Filter out users with more than 10 applications

In [11]:
# Input: application data after negative sampling
temp = sorted(dict(dataset.UserID.value_counts()).items(), key=lambda x: x[1], reverse=True)
exclude_user_id = [i[0] for i in temp if i [1]>=10]
len(exclude_user_id)

56661

In [12]:
# check value of temp (user_id, #applications)
temp

[(1127206, 2186),
 (1382297, 1964),
 (39567, 1244),
 (991504, 998),
 (33263, 748),
 (948207, 684),
 (621858, 682),
 (466070, 660),
 (179511, 654),
 (1407339, 622),
 (978655, 588),
 (863767, 574),
 (874238, 568),
 (853630, 564),
 (904557, 556),
 (379548, 544),
 (196770, 542),
 (402913, 518),
 (239403, 508),
 (422035, 486),
 (592989, 478),
 (1212335, 476),
 (124421, 476),
 (879484, 474),
 (393136, 470),
 (689323, 470),
 (987700, 468),
 (1377241, 462),
 (851263, 458),
 (1312055, 458),
 (986466, 454),
 (693722, 450),
 (779720, 444),
 (936020, 442),
 (412328, 440),
 (144296, 430),
 (885703, 426),
 (284621, 422),
 (1448156, 420),
 (1275839, 414),
 (523805, 406),
 (693755, 404),
 (554592, 400),
 (1224627, 398),
 (770351, 398),
 (694972, 396),
 (198051, 386),
 (1171425, 384),
 (1302531, 378),
 (480969, 372),
 (86625, 372),
 (211877, 370),
 (1372608, 366),
 (1162218, 366),
 (552608, 360),
 (1080768, 358),
 (985258, 358),
 (921822, 354),
 (1070463, 352),
 (610663, 352),
 (1259366, 348),
 (656865, 348),
 (1000886, 346),
 (1117059, 342),
 (1121430, 340),
 (984423, 340),
 (1437848, 340),
 (607104, 340),
 (961861, 338),
 (299522, 336),
 (11519, 334),
 (588914, 334),
 (32794, 332),
 (211518, 332),
 (1426220, 328),
 (473939, 328),
 (851748, 328),
 (1334505, 328),
 (338112, 326),
 (8460, 324),
 (528658, 318),
 (857948, 316),
 (1012432, 316),
 (567067, 314),
 (26280, 314),
 (1030788, 312),
 (1015336, 312),
 (1303879, 312),
 (928869, 310),
 (686589, 310),
 (928801, 310),
 (620521, 304),
 (1111528, 304),
 (831552, 302),
 (830146, 302),
 (119028, 302),
 (140878, 300),
 (440480, 298),
 (206878, 298),
 (685227, 296),
 (201168, 296),
 (710516, 294),
 (183303, 292),
 (608107, 290),
 (1424351, 290),
 (1258079, 288),
 (413638, 288),
 (221558, 288),
 (1342386, 286),
 (1270525, 284),
 (1338634, 284),
 (1238074, 280),
 (1157290, 280),
 (707570, 280),
 (245135, 278),
 (962279, 278),
 (1103110, 276),
 (696409, 276),
 (856134, 276),
 (995737, 276),
 (743646, 276),
 (7709, 274),
 (72028, 274),
 (780019, 274),
 (695712, 272),
 (1171292, 272),
 (1428658, 270),
 (382622, 270),
 (422059, 270),
 (1167370, 270),
 (697000, 268),
 (1307653, 266),
 (1033482, 266),
 (1312976, 266),
 (620095, 264),
 (453857, 264),
 (969178, 264),
 (1079268, 264),
 (798945, 262),
 (792626, 262),
 (1380790, 262),
 (945178, 262),
 (1069212, 260),
 (1431590, 260),
 (1060273, 260),
 (1463428, 258),
 (1073459, 256),
 (1159470, 256),
 (264989, 256),
 (971260, 256),
 (830937, 254),
 (680324, 254),
 (1170602, 254),
 (363599, 254),
 (637856, 254),
 (596158, 252),
 (970070, 252),
 (667603, 250),
 (163208, 250),
 (529480, 250),
 (1464803, 250),
 (560396, 248),
 (266328, 248),
 (779555, 246),
 (1149441, 246),
 (491501, 246),
 (963564, 246),
 (581853, 246),
 (1425685, 242),
 (1374080, 240),
 (985860, 240),
 (773081, 240),
 (345151, 240),
 (294919, 238),
 (1158911, 238),
 (608140, 238),
 (1468799, 238),
 (1042723, 238),
 (1106338, 236),
 (150289, 236),
 (1403528, 234),
 (60566, 232),
 (1080112, 232),
 (337852, 232),
 (215232, 232),
 (807519, 232),
 (125210, 232),
 (341555, 230),
 (292174, 230),
 (334638, 230),
 (1099559, 230),
 (1405995, 230),
 (887144, 228),
 (658865, 228),
 (1280971, 228),
 (839365, 228),
 (163660, 228),
 (1445460, 226),
 (863899, 226),
 (1376732, 226),
 (728362, 226),
 (1354468, 226),
 (541241, 224),
 (494985, 224),
 (1412470, 224),
 (1279412, 224),
 (1211489, 224),
 (510894, 224),
 (479186, 224),
 (867594, 222),
 (307377, 222),
 (1452190, 222),
 (15522, 220),
 (825445, 220),
 (850502, 220),
 (765076, 220),
 (648254, 218),
 (458009, 218),
 (395528, 218),
 (1152989, 218),
 (886845, 218),
 (730891, 216),
 (1362963, 216),
 (478679, 216),
 (458860, 216),
 (237564, 216),
 (923754, 214),
 (786154, 214),
 (1111134, 214),
 (1016443, 212),
 (767892, 212),
 (240788, 212),
 (167881, 212),
 (1103249, 212),
 (443547, 212),
 (1185072, 212),
 (687724, 212),
 (10992, 210),
 (537908, 210),
 (590615, 210),
 (1405231, 210),
 (528671, 210),
 (1238929, 210),
 (632870, 208),
 (438202, 208),
 (214250, 208),
 (872368, 206),
 (1361037, 206),
 (871149, 206),
 (324489, 206),
 (513192, 206),
 (727863, 206),
 (254278, 204),
 (768360, 204),
 (110623, 204),
 (744467, 204),
 (1352230, 204),
 (891967, 202),
 (710414, 202),
 (1064881, 202),
 (1394248, 202),
 (746062, 202),
 (1092232, 202),
 (971568, 202),
 (237645, 200),
 (532966, 200),
 (1065519, 200),
 (741517, 200),
 (903167, 200),
 (978396, 198),
 (1342000, 198),
 (446209, 198),
 (1454451, 198),
 (593757, 198),
 (1087506, 198),
 (879627, 198),
 (772484, 198),
 (1455909, 198),
 (538953, 198),
 (496505, 198),
 (1380956, 196),
 (17971, 196),
 (1212678, 196),
 (1242190, 196),
 (8648, 196),
 (172298, 196),
 (614573, 196),
 (819400, 196),
 (598342, 196),
 (1030182, 196),
 (1204420, 196),
 (609023, 194),
 (16307, 194),
 (1392242, 194),
 (1238909, 194),
 (1329895, 194),
 (1291943, 194),
 (699248, 194),
 (781898, 194),
 (889232, 194),
 (17134, 194),
 (941300, 194),
 (738199, 192),
 (210696, 192),
 (463778, 192),
 (475415, 192),
 (493378, 192),
 (433381, 192),
 (1103623, 192),
 (931858, 192),
 (997208, 192),
 (551218, 192),
 (404317, 192),
 (1067292, 192),
 (1418241, 190),
 (679911, 190),
 (1008966, 190),
 (639937, 190),
 (386859, 190),
 (966110, 190),
 (915288, 190),
 (410122, 190),
 (975095, 190),
 (1170744, 188),
 (564693, 188),
 (742930, 188),
 (523118, 188),
 (589421, 188),
 (1034905, 188),
 (1041589, 188),
 (1003896, 188),
 (1294319, 188),
 (184862, 188),
 (573737, 186),
 (643490, 186),
 (161358, 186),
 (583097, 186),
 (516565, 186),
 (1207054, 186),
 (802525, 186),
 (421296, 186),
 (598117, 186),
 (1073908, 186),
 (1376336, 184),
 (530271, 184),
 (519090, 184),
 (816220, 184),
 (1207052, 184),
 (744568, 184),
 (36805, 184),
 (52124, 184),
 (230979, 184),
 (105307, 184),
 (552355, 184),
 (1020346, 184),
 (1313032, 184),
 (1392632, 184),
 (164313, 184),
 (629838, 184),
 (1015968, 184),
 (1056582, 184),
 (554888, 184),
 (352011, 184),
 (691418, 182),
 (969344, 182),
 (741717, 182),
 (1193346, 182),
 (598859, 182),
 (1375843, 182),
 (865814, 182),
 (1406605, 182),
 (334875, 182),
 (599711, 180),
 (863777, 180),
 (45955, 180),
 (1271668, 180),
 (1157317, 180),
 (554719, 180),
 (1436399, 180),
 (98248, 180),
 (517208, 180),
 (587559, 180),
 (1421473, 180),
 (767840, 180),
 (462574, 180),
 (1105960, 178),
 (949932, 178),
 (772476, 178),
 (43286, 178),
 (956836, 178),
 (821338, 178),
 (165806, 178),
 (1336760, 178),
 (973957, 178),
 (1305048, 178),
 (1400545, 178),
 (150750, 178),
 (1364895, 178),
 (324493, 178),
 (6551, 176),
 (61628, 176),
 (126153, 176),
 (487099, 176),
 (57602, 176),
 (298089, 176),
 (926981, 176),
 (1188135, 176),
 (184469, 176),
 (814213, 176),
 (1344137, 176),
 (926920, 174),
 (660512, 174),
 (835899, 174),
 (575642, 174),
 (689577, 174),
 (1107869, 174),
 (247608, 172),
 (1338431, 172),
 (1037552, 172),
 (741558, 172),
 (21220, 172),
 (696202, 172),
 (842646, 172),
 (1382532, 172),
 (922125, 172),
 (367132, 172),
 (1171503, 172),
 (1283456, 172),
 (1085569, 172),
 (322910, 172),
 (198880, 170),
 (432589, 170),
 (263152, 170),
 (599830, 170),
 (427689, 170),
 (941332, 170),
 (548346, 170),
 (435873, 170),
 (1052962, 170),
 (38227, 170),
 (1146096, 170),
 (1166749, 170),
 (1011675, 170),
 (1078650, 170),
 (935049, 170),
 (1263436, 170),
 (1044635, 170),
 (1131161, 170),
 (494702, 168),
 (1446340, 168),
 (350728, 168),
 (281207, 168),
 (1341705, 168),
 (964070, 168),
 (1371248, 168),
 (228362, 168),
 (1208208, 168),
 (1179911, 168),
 (380811, 168),
 (824133, 168),
 (524209, 168),
 (932341, 168),
 (147574, 166),
 (225487, 166),
 (821350, 166),
 (151207, 166),
 (1196641, 166),
 (497773, 166),
 (1083794, 166),
 (1402161, 166),
 (855654, 164),
 (619794, 164),
 (780279, 164),
 (1159365, 164),
 (665013, 164),
 (357608, 164),
 (1306413, 164),
 (1350933, 164),
 (702772, 164),
 (1043514, 164),
 (1065149, 164),
 (423013, 164),
 (569213, 164),
 (566693, 164),
 (1344331, 162),
 (1324035, 162),
 (172286, 162),
 (276293, 162),
 (159567, 162),
 (1374303, 162),
 (108943, 162),
 (938301, 162),
 (600812, 162),
 (787228, 162),
 (829615, 162),
 (1262346, 162),
 (631222, 160),
 (1286841, 160),
 (586358, 160),
 (744833, 160),
 (657048, 160),
 (1304911, 160),
 (1103909, 160),
 (1281317, 160),
 (17810, 160),
 (759258, 160),
 (1047656, 160),
 (290167, 160),
 (1320052, 160),
 (1064744, 160),
 (246656, 160),
 (756298, 160),
 (133456, 158),
 (1320528, 158),
 (236402, 158),
 (1164227, 158),
 (986911, 158),
 (1454970, 158),
 (1101227, 158),
 (310625, 158),
 (1414990, 158),
 (330865, 158),
 (1213725, 158),
 (541755, 158),
 (1066318, 158),
 (1423455, 158),
 (1088984, 158),
 (1376067, 158),
 (849497, 158),
 (357738, 158),
 (75491, 158),
 (1361266, 158),
 (1411292, 158),
 (1020982, 156),
 (288563, 156),
 (802551, 156),
 (1213630, 156),
 (826619, 156),
 (1398838, 156),
 (1096213, 156),
 (71997, 156),
 (953775, 156),
 (893233, 156),
 (684497, 156),
 (439070, 156),
 (601967, 156),
 (205835, 156),
 (673155, 156),
 (1001729, 156),
 (208146, 156),
 (1142558, 156),
 (685432, 156),
 (1195741, 156),
 (1282975, 156),
 (860128, 154),
 (216790, 154),
 (917105, 154),
 (847434, 154),
 (415280, 154),
 (1433992, 154),
 (1338214, 154),
 (417403, 154),
 (707136, 154),
 (822591, 154),
 (547722, 154),
 (282709, 154),
 (544533, 154),
 (1411570, 154),
 (524341, 154),
 (186307, 154),
 (1083772, 154),
 (1135929, 154),
 (935046, 154),
 (302391, 152),
 (814328, 152),
 (1381580, 152),
 (989799, 152),
 (887386, 152),
 (1219727, 152),
 (783029, 152),
 (1201368, 152),
 (1014003, 152),
 (1456042, 152),
 (1209092, 152),
 (378323, 152),
 (917046, 152),
 (284368, 152),
 (666356, 152),
 (1292413, 152),
 (459028, 152),
 (165961, 152),
 (806578, 152),
 (713119, 152),
 (867577, 150),
 (1467940, 150),
 (572439, 150),
 (944366, 150),
 (1006940, 150),
 (220905, 150),
 (1455462, 150),
 (1341734, 150),
 (1144910, 150),
 (940013, 150),
 (963900, 150),
 (771988, 150),
 (202231, 150),
 (1171858, 150),
 (707889, 150),
 (1025234, 150),
 (862429, 150),
 (930344, 148),
 (975223, 148),
 (862908, 148),
 (85699, 148),
 (252341, 148),
 (927511, 148),
 (1202554, 148),
 (54260, 148),
 (1145915, 148),
 (687817, 148),
 (413700, 148),
 (963542, 148),
 (1162808, 148),
 (985413, 148),
 (203251, 148),
 (877387, 148),
 (1054791, 148),
 (1293925, 148),
 (522208, 148),
 (1315519, 148),
 (1060695, 148),
 (1093699, 148),
 (1189686, 146),
 (1088262, 146),
 (1370974, 146),
 (1246650, 146),
 (1279313, 146),
 (1461802, 146),
 (868757, 146),
 (606679, 146),
 (808222, 146),
 (1346401, 146),
 (1192467, 146),
 (411894, 146),
 (202664, 146),
 (674485, 146),
 (772285, 146),
 (737285, 146),
 (1168477, 146),
 (1446310, 146),
 (705533, 146),
 (297312, 146),
 (701302, 146),
 (744309, 146),
 (749658, 146),
 (700388, 146),
 (263714, 146),
 (136198, 146),
 (905578, 146),
 (912687, 146),
 (265804, 146),
 (808399, 146),
 (1190426, 144),
 (982941, 144),
 (444032, 144),
 (422236, 144),
 (1430102, 144),
 (158773, 144),
 (983280, 144),
 (1292803, 144),
 (656893, 144),
 (1009437, 144),
 (183465, 144),
 (659110, 144),
 (217361, 144),
 (1126576, 144),
 (1315758, 144),
 (1352087, 144),
 (238725, 144),
 (1440751, 144),
 (556678, 144),
 (386358, 144),
 (480291, 144),
 (867543, 144),
 (1361119, 144),
 (368938, 144),
 (583037, 142),
 (1153914, 142),
 (1289144, 142),
 (556731, 142),
 (718785, 142),
 (968056, 142),
 (224241, 142),
 (958619, 142),
 (646563, 142),
 (1206619, 142),
 (753244, 142),
 (1315642, 142),
 (543166, 142),
 (1209894, 142),
 (1139033, 142),
 (606186, 142),
 (176181, 142),
 (821237, 142),
 (1275859, 142),
 (1285894, 142),
 (784386, 142),
 (1162090, 142),
 (832110, 142),
 (673776, 142),
 (980634, 142),
 (894108, 142),
 (129295, 142),
 (954522, 142),
 (1312371, 142),
 (1107842, 140),
 (1111637, 140),
 (364129, 140),
 (962704, 140),
 (926919, 140),
 (269354, 140),
 (222710, 140),
 (645135, 140),
 (682060, 140),
 (1440396, 140),
 (129780, 140),
 (1081971, 140),
 (1292050, 140),
 (733782, 140),
 (57136, 140),
 (1065099, 140),
 (1031184, 140),
 (460651, 140),
 (1338199, 140),
 (917078, 140),
 (1255824, 140),
 (922487, 140),
 (858472, 140),
 (1303353, 140),
 (1320210, 140),
 (1150821, 140),
 (841938, 140),
 (89348, 140),
 (290105, 140),
 (523702, 140),
 (1109921, 140),
 (948566, 140),
 (544310, 140),
 (625293, 140),
 (613510, 140),
 (970975, 140),
 (463251, 140),
 (1435003, 140),
 (1429932, 140),
 (951401, 140),
 (404929, 140),
 (1109465, 140),
 (672106, 138),
 (997068, 138),
 (597636, 138),
 (1085855, 138),
 (1455372, 138),
 (581278, 138),
 (922773, 138),
 (201421, 138),
 (783646, 138),
 (878511, 138),
 (311353, 138),
 (994965, 138),
 (1065457, 138),
 (1231829, 138),
 (723867, 138),
 (633380, 138),
 (659001, 138),
 (789961, 138),
 (172203, 138),
 (1263780, 138),
 (265281, 138),
 (1182487, 138),
 (590532, 138),
 (1210736, 138),
 (1130471, 138),
 (294589, 138),
 (84911, 138),
 (917998, 138),
 (321563, 138),
 (901646, 138),
 (457835, 136),
 (121637, 136),
 (1349464, 136),
 (1323302, 136),
 (756306, 136),
 (44355, 136),
 (423966, 136),
 (1307476, 136),
 (418191, 136),
 (506246, 136),
 (925548, 136),
 (757996, 136),
 (705122, 136),
 (129188, 136),
 (702600, 136),
 (1013300, 136),
 (394656, 136),
 (891947, 136),
 (1075088, 136),
 (1339619, 136),
 (1092535, 136),
 (751758, 136),
 (1317636, 136),
 (268312, 136),
 (831547, 136),
 (629164, 136),
 (995293, 136),
 (828846, 136),
 (826029, 136),
 (1138049, 134),
 (1170259, 134),
 (1185905, 134),
 (391779, 134),
 (1346927, 134),
 (661418, 134),
 (937080, 134),
 (563166, 134),
 (1219476, 134),
 (625132, 134),
 (993244, 134),
 (57699, 134),
 (32653, 134),
 (1183032, 134),
 (1402836, 134),
 (1353693, 134),
 (445746, 134),
 (417317, 134),
 (1334719, 134),
 (1402138, 134),
 (1026070, 134),
 (226956, 134),
 (1089591, 134),
 (519171, 134),
 (174612, 134),
 (852271, 134),
 (202662, 134),
 (837080, 134),
 (821839, 134),
 (121225, 134),
 (394687, 134),
 (1365537, 134),
 (464411, 134),
 (95176, 134),
 (954722, 134),
 (349896, 132),
 (1181540, 132),
 (514403, 132),
 (1352428, 132),
 (1120339, 132),
 (899018, 132),
 (1241899, 132),
 (535274, 132),
 (1404604, 132),
 (442453, 132),
 (696320, 132),
 (946725, 132),
 (1275863, 132),
 (283145, 132),
 (1434186, 132),
 (959992, 132),
 (1225032, 132),
 (1362627, 132),
 (1038653, 132),
 (207854, 132),
 (1185010, 132),
 (1245830, 132),
 (275129, 132),
 (1072780, 132),
 (1363114, 132),
 (804728, 132),
 (1239210, 132),
 (877134, 130),
 (214074, 130),
 (1322453, 130),
 (132136, 130),
 (647056, 130),
 (45750, 130),
 (511550, 130),
 (958267, 130),
 (793350, 130),
 (1251381, 130),
 (177644, 130),
 (147301, 130),
 (984832, 130),
 (49026, 130),
 (386285, 130),
 (1186443, 130),
 (788110, 130),
 (669787, 130),
 (1387736, 130),
 (782409, 130),
 (1030822, 130),
 (481432, 130),
 (1187118, 130),
 (1039912, 130),
 (1315450, 130),
 (72629, 130),
 (560577, 130),
 (1393138, 130),
 (1041360, 130),
 (946398, 130),
 (58158, 130),
 (164709, 130),
 (636789, 130),
 (165414, 128),
 (405864, 128),
 (730679, 128),
 (1400789, 128),
 (271529, 128),
 (272148, 128),
 (431751, 128),
 (912908, 128),
 (675551, 128),
 (395852, 128),
 (444920, 128),
 (1219414, 128),
 (743597, 128),
 (203488, 128),
 (1270138, 128),
 (293697, 128),
 (1292959, 128),
 (215363, 128),
 (1047398, 128),
 (848959, 128),
 (1243637, 128),
 (1126717, 128),
 (1168385, 128),
 (1393778, 128),
 (871847, 128),
 (44697, 128),
 (1245364, 128),
 (1071372, 128),
 (1457851, 128),
 (1245452, 128),
 (296122, 128),
 (287161, 128),
 (621181, 128),
 (81740, 128),
 (281473, 128),
 (622957, 128),
 (495436, 128),
 (1106267, 128),
 (579467, 128),
 (151447, 128),
 (1189092, 128),
 (924160, 128),
 (1008568, 126),
 (989238, 126),
 (1312965, 126),
 (610188, 126),
 (1366393, 126),
 (1192765, 126),
 (641656, 126),
 (194880, 126),
 (1111744, 126),
 (1261298, 126),
 (943774, 126),
 (681005, 126),
 (945225, 126),
 (118709, 126),
 (1344341, 126),
 (583871, 126),
 (1174228, 126),
 (675493, 126),
 (949082, 126),
 (1157374, 126),
 (238011, 126),
 (37251, 126),
 (805762, 126),
 (33940, 126),
 (64522, 126),
 (1168671, 126),
 (729033, 126),
 (815038, 126),
 (670960, 126),
 (1279355, 126),
 (669934, 126),
 (40620, 126),
 (664829, 126),
 (495392, 126),
 (187675, 126),
 (1446498, 126),
 (659279, 126),
 (138119, 126),
 (1242066, 126),
 (348359, 126),
 (1468868, 126),
 (94832, 126),
 (179531, 126),
 (646554, 126),
 (938843, 126),
 (845384, 126),
 (1036710, 126),
 ...]

In [13]:
# Drop application where user_id is in exclude list
dataset = dataset[~dataset.UserID.isin(exclude_user_id)]

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 579626 entries, 0 to 2081339
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   UserID  579626 non-null  int64
 1   JobID   579626 non-null  int64
 2   label   579626 non-null  int64
dtypes: int64(3)
memory usage: 17.7 MB

### select data in ```work_history, user_set```

In [15]:
user_id = dataset.UserID.unique()
work_history = work_history[work_history.UserID.isin(user_id)]
user_set = user_set[user_set.UserID.isin(user_id)]
user_set.reset_index(drop=True, inplace=True)

### drop duplicates in ```work_history```

In [16]:
work_history.duplicated(subset=['Sequence']).value_counts()

True     683435
False       119
dtype: int64

In [17]:
work_history = work_history.drop(columns=["Sequence"]).drop_duplicates()

In [18]:
work_history.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 628173 entries, 8 to 1144555
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   UserID    628173 non-null  int64
 1   WindowID  628173 non-null  int64
 2   Split     628173 non-null  object
 3   JobTitle  628173 non-null  object
dtypes: int64(2), object(2)
memory usage: 24.0+ MB

In [19]:
word_history_tf = TfidfVectorizer(analyzer='word',
                                  ngram_range=(1, 2),
                                  min_df=0, 
                                  max_features=50, 
                                  stop_words='english')

In [20]:
# Get all the title that one user have applied
work_history.groupby("UserID").JobTitle.sum().values

array(['Front End Supervisor/CashierCustomer Service Representative',
       'CookMechanicFile Clerk',
       'Pennsylvania MentorStudent WorkerInternship in Adoption UnitStudent Worker - Continuing EducationSales Associate',
       ...,
       'Front Office ManagerAt Your Service SupervisorFront Desk SupervisorOperations SupervisorReservations CoordinatorFront Desk Agent',
       'Preschool TeacherSalesCustomer Service',
       'ElectricianTechnicianSupervisorElectrician (trainee)'],
      dtype=object)

In [21]:
# Apply TF-IDF on all previous job title of a user
word_history_tf_matrix = word_history_tf \
                        .fit_transform(work_history \
                                       .groupby("UserID") \
                                       .JobTitle.sum().values)

In [22]:
word_history_tf_matrix

<152292x50 sparse matrix of type '<class 'numpy.float64'>'
	with 327656 stored elements in Compressed Sparse Row format>

In [26]:
# Export this matrix
from scipy import sparse
sparse.save_npz("./data_interim_tfidf/work_history_tf_matrix.npz", word_history_tf_matrix)

In [27]:
# Check loaded matrix
your_matrix_back = sparse.load_npz("./data_interim_tfidf/work_history_tf_matrix.npz")

In [28]:
your_matrix_back

<152292x50 sparse matrix of type '<class 'numpy.float64'>'
	with 327656 stored elements in Compressed Sparse Row format>

## 3. Encode categorical data for user profile

In [23]:
user_set.info() # 152,292

In [24]:
user_set.Country.value_counts()

In [25]:
user_set[user_set['Country'] != "US"].count()

In [26]:
# Change compare to original repository: do not filter only for user in the US 
# => Keep column "Country"
user_set = user_set.drop(columns=["ZipCode","Major","GraduationDate","WindowID"])

In ```user_set``` 
- label encoding for ```DegreeType```
- one-hot encoding for ```State```
- binary labels for Currently ```Employed/ManagedOthers```

In [27]:
# user_set = pd.get_dummies(user_set, columns=["State"])
user_set.replace({"CurrentlyEmployed":{"Yes":1,"No":0}}, inplace=True)
user_set.replace({"ManagedOthers":{"Yes":1,"No":0}}, inplace=True)
user_set.replace({"DegreeType":{"None":0,"High School":1, "Vocational":2, "Associate's":3, "Bachelor's":4, "Master's":5, "PhD":6}}, 
                 inplace=True)

In [28]:
user_set

## 4. Create feature for location matching
Add binary columns in "dataset" to match city, state, and country between users and jobs

- add binary labels into the dataset, indicating that whether the user and job are in the same country/city/state. (add country match)

### Try using User defined function and apply on dataset (lambda)

In [29]:
def get_city_match(user_id, job_id):
    user = user_set[user_set['UserID'] == user_id].iloc[0]
    job = job_set[job_set['JobID'] == job_id].iloc[0]
    return float(user['City'] == job['City'])

In [30]:
def get_state_match(user_id, job_id):
    user = user_set[user_set['UserID'] == user_id].iloc[0]
    job = job_set[job_set['JobID'] == job_id].iloc[0]
    return float(user['State'] == job['State'])

In [31]:
def get_country_match(user_id, job_id):
    user = user_set[user_set['UserID'] == user_id].iloc[0]
    job = job_set[job_set['JobID'] == job_id].iloc[0]
    return float(user['Country'] == job['Country'])

In [32]:
import time
start = time.time()
dataset['City'] = dataset.apply(lambda x: get_city_match(x.UserID, x.JobID), axis=1)
end = time.time()
print('Computing time: ', end - start)

In [33]:
import time
start = time.time()
dataset['State'] = dataset.apply(lambda x: get_state_match(x.UserID, x.JobID), axis=1)
end = time.time()
print('Computing time: ', end - start)

In [34]:
import time
start = time.time()
dataset['Country'] = dataset.apply(lambda x: get_country_match(x.UserID, x.JobID), axis=1)
end = time.time()
print('Computing time: ', end - start)

In [35]:
# Check output
dataset.head()

## Export data

In [36]:
job_set.info()

In [37]:
job_set.head()

In [38]:
dataset.drop_duplicates(inplace=True, ignore_index=False)

In [39]:
user_set.to_csv("./data_interim/user_set_cleaned.csv", index=False)
dataset.to_csv("./data_interim/dataset_cleaned.csv", index=False)
work_history.to_csv("./data_interim/work_history_cleaned.csv", index=False)

## 4. Build interaction data as vectors (WARNING: LONG TIME COMPUTATION)
Build the training set and testing set combining all information:
- User profile
- Job details (TF-IDF)
- User history (TF-IDF)
- Location matching

In [40]:
# Load the datasetp from Step 3
user_set = pd.read_csv("./data_interim/user_set_cleaned.csv")
dataset = pd.read_csv("./data_interim/dataset_cleaned.csv")
work_history = pd.read_csv('./data_interim/work_history_cleaned.csv')

In [41]:
train_user = user_set[user_set.Split=="Train"].UserID.values
test_user = user_set[user_set.Split=="Test"].UserID.values
train_data = dataset[dataset.UserID.isin(train_user)]
test_data = dataset[dataset.UserID.isin(test_user)]

In [42]:
groups = train_data.groupby("UserID")

In [43]:
groups.head()

         UserID   JobID  label  City  State  Country
0             7  309823      1   1.0    1.0      1.0
1             7  703889      1   1.0    1.0      1.0
2             7  566574      0   0.0    0.0      1.0
3             7  481216      0   0.0    0.0      1.0
4             9  809208      1   1.0    1.0      1.0
...         ...     ...    ...   ...    ...      ...
579620  1472085  209482      0   0.0    0.0      1.0
579621  1472090  209535      1   1.0    1.0      1.0
579622  1472090  254881      1   1.0    1.0      1.0
579623  1472090  999294      0   0.0    0.0      1.0
579624  1472090  354025      0   0.0    0.0      1.0

[494017 rows x 6 columns]

In [44]:
dataset.duplicated().any().sum()

0

## Start building vectors
2 versions:
- including Country match (vector size: 159)
- excluding Country match (vector size: 158, similar to PJFNN)

### Version with Country match (vector size: 159)

In [45]:
# Version with Country match (vector size: 159)
groups = train_data.groupby("UserID")
X_train = np.zeros((1,159))
Y_train = []
for u_id, group in tqdm(groups):
#     print('u_id:', u_id)
    user = user_set[user_set.UserID==u_id][["DegreeType", "WorkHistoryCount", 
                                            "TotalYearsExperience", "CurrentlyEmployed", 
                                            "ManagedOthers", "ManagedHowMany"]]
    u_idx = user.index.values[0]
    user_feature = np.concatenate((user.values, word_history_tf_matrix[u_idx,:].toarray()),axis=1)
    job_id_list = group.JobID.values
    jobs = job_set[job_set.JobID.isin(job_id_list)]
    j_idx = jobs.index.values
    f = []
    for i in j_idx:
        feature = np.concatenate((user_feature, tfidf_matrix[i,:].toarray()), axis=1).reshape(156,).tolist()
        f.append(feature)
        
#     print('combine user_feature and embeded job', len(f))
#     print('shape of vector f:', np.array(f).shape)
    
#     print('group[["City","State", "Country"]].values', group[["City","State", "Country"]].values.shape)
    
    feature = np.concatenate((group[["City","State","Country"]].values, np.array(f)),axis=1)
    
#     print('Shape of feature vector: ', feature.shape)
#     print('Shape of X_train: ', X_train.shape)
    
    X_train = np.concatenate((X_train, feature), axis=0)
    Y_train.extend(group.label.values.tolist())

100%|█████████████████████████████████| 148576/148576 [9:58:30<00:00,  4.14it/s]

In [46]:
X_train.shape, len(Y_train)

((563890, 159), 563889)

In [47]:
# Test data: Version with Country match (vector size: 159)
groups = test_data.groupby("UserID")
X_test = np.zeros((1,159))
Y_test = []
for u_id, group in tqdm(groups):
    user = user_set[user_set.UserID==u_id][["DegreeType", "WorkHistoryCount", 
                                            "TotalYearsExperience", "CurrentlyEmployed", 
                                            "ManagedOthers", "ManagedHowMany"]]
    u_idx = user.index.values[0]
    user_feature = np.concatenate((user.values, word_history_tf_matrix[u_idx,:].toarray()),axis=1)
    job_id_list = group.JobID.values
    jobs = job_set[job_set.JobID.isin(job_id_list)]
    j_idx = jobs.index.values
    f = []
    for i in j_idx:
        feature = np.concatenate((user_feature, tfidf_matrix[i,:].toarray()), axis=1).reshape(156,).tolist()
        f.append(feature)
    feature = np.concatenate((group[["City","State", "Country"]].values, np.array(f)),axis=1)
    X_test = np.concatenate((X_test, feature), axis=0)
    Y_test.extend(group.label.values.tolist())

100%|███████████████████████████████████████| 3716/3716 [00:48<00:00, 76.02it/s]

In [48]:
X_test.shape, len(Y_test)

((15737, 159), 15736)

In [49]:
# Export train and test dataset to folder data_interim_tfidf
np.save("./data_interim_tfidf/X_train_159.npy",X_train[1:,])
np.save("./data_interim_tfidf/Y_train_159.npy",np.array(Y_train))
np.save("./data_interim_tfidf/X_test_159.npy",X_test[1:,])
np.save("./data_interim_tfidf/Y_test_159.npy",np.array(Y_test))

## Export all vectorizer model to reuse

In [51]:
import pickle

# For jobs: tf
tf_path = './data_interim_tfidf/job_tf.pickle'
pickle.dump(tf, open(tf_path, "wb"))

# For work_history: word_history_tf
work_history_tf_path = './data_interim_tfidf/work_history_tf.pickle'
pickle.dump(word_history_tf, open(work_history_tf_path, "wb"))

In [52]:
tfidf_matrix # jobs

<1050509x100 sparse matrix of type '<class 'numpy.float64'>'
	with 31754477 stored elements in Compressed Sparse Row format>

In [53]:
word_history_tf_matrix # work history

<152292x50 sparse matrix of type '<class 'numpy.float64'>'
	with 327656 stored elements in Compressed Sparse Row format>